html {
    /* scroll settings */
    scroll-behavior: smooth;
}

body {
    /* appearance settings */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.global-navigation menu {
    /* appearance settings */
    list-style-type: none;

    /* flexbox settings */
    display: flex;
    gap: 18px;

    /* position & size settings */
    padding: 0;
}

a {
    /* appearance settings */
    color: #11c607;
    font-weight: bold;
    text-decoration-line: none;
}

img {
    /* appearance settings */
    border-radius: 21px;
}